<%@ page import="com.google.appengine.api.users.User" %>
<%@ page import="com.google.appengine.api.users.UserService" %>
<%@ page import="com.google.appengine.api.users.UserServiceFactory" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<!DOCTYPE html>
<html>
<head>
 	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/sp.css">
	<link rel="stylesheet" href="css/animate.min.css"/> <!-- animation -->
	<title>sp</title>

	<script src="javascripts/jquery-2.2.2.js"></script>
	<script>
		$(document).ready(function() {
			$("ul#sidebar_links li a, #logo").click(function(e) {
				e.preventDefault();
				if($(this).attr("id") == "sidebar-search") {
					if($("#searchbar").hasClass("open"))
						$("#searchbar").removeClass("open");
					else
						$("#searchbar").addClass("open");
				}
				$("#mainframe").attr("src", $(this).attr("href"));
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			if ($("#testUser").val() == "") { // user not logged in
				$("#profileDiv").css("display", "none")
				$("#loginDiv").css("display", "block")
			}
			else{
				$("#profileDiv").css("display", "block")
				$("#loginDiv").css("display", "none")
			}
		})
	</script>
    <style>
		.material-icons{
			font-size: 40px;
			line-height: 60px;
			position: absolute;
			left: 26%;
			top: 0px;
		}
	</style>
</head>

<body>
<div id="HBox">
	<div class="mycard signinBox">
		<a href="/sign">Signin</a>
	</div>
</div>

<div class="sidebar">
	<a id="logo" href="explore.html" class="logo"></a>
	<p style="margin-top: -12px; font-family: sans-serif; font-style: italic;">Sp Comic</p>
	<ul id="sidebar_links">
		<li><a data-href="search"     id="sidebar-search"     class="item" ><span class="text"><i class="material-icons">search</i>Search</span></a></li>
		<li><a data-href="exlpore"    id="sidebar-explore"    class="item" href="explore.html"><i class="material-icons">dashboard</i><span class="text">Explore</span></a></li>
		<li><a data-href="subscribed" id="sidebar-subscribed" class="item" href="/subscription"><i class="material-icons">playlist_add</i><span class="text">Subscribed</span></a></li>
		<li><a data-href="workshop"   id="sidebar-workshop"   class="item" href="/comicworkshopservlet"><i class="material-icons">group_work</i><span class="text">Workshop</span></a></li>
		<li><a data-href="history"    id="sidebar-history" 	  class="item" href="history.html"><i class="material-icons">av_timer</i><span class="text">History</span></a></li>

		<input id="testUser" type="hidden" value="${sessionScope.user_info.userId}"/>
		<li id="profileDiv" class="user">
			<a id="sidebar-profile" href="profile.jsp">
				<c:set var="user_nickname" scope="session" value="${user_info.nickname}"></c:set>
				<div class="avatar">
					<img src="images/profile_pic.jpg"/>
				</div>

				<div class="username">
					<c:choose>
						<c:when test="${not empty user_nickname}">
							<c:out value="${user_nickname}"></c:out>
						</c:when>
						<c:otherwise>
							<c:out value="userName"></c:out>
						</c:otherwise>
					</c:choose>
				</div>
			</a>
		</li>

		<li id="loginDiv" class="user">
			<a data-href="profile" id="sidebar-profile"  class="bounceInUp dialog goDown">
				<div class="avatar">
					<img src="images/user_temp.png"/>
				</div>
				<div class="username">
					login
				</div>
			</a>
		</li>
	</ul>
</div>

<div id="searchbar" class="searchbar">
	<iframe class="searchframe"  src="search.html"> </iframe>
</div>

<div class="mainContainer">
	<iframe id="mainframe" class="mainframe" name="mainframe" src="explore.html">
	</iframe>
</div>

<div id="scriptDiv">
	<script src="javascripts/jquery.hDialog.min.js"></script>

</div>

<!--create reading mode window base on window size-->
<script>
	$(function(){
		var $el = $('.dialog');
		$el.hDialog(); //默认调用
		$('.goDown').hDialog({title:'Sign in with Google', height:300, width:400, effect: 'slideOutDown'});
		$("#HBox").css("padding", 0);
	});
</script>
</body>
</html>
