<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->s
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
 	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--reading nav js-->
    <script src="javascripts/jquery.zlight.menu.1.0.min.js"></script>
    <script src="javascripts/respond.min.js"></script>
    
	<link type="text/css" rel="stylesheet" href="css/sp.css">
	<title>Workshop Comic Series</title>
</head>

<body>

	<div class="seriers_detail">
        <div class="info_detail border_bottom">
            
            <div class="info_about">
                <p>
                    <span class="author">${sessionScope.user_info.userId}</span>
                </p>
                <span class="name">${csName}</span>
    
                <div class="about_bottom">
                        <a class="waves-effect waves-light btn amber" href="/workshop">WS</a>
                    <a href="#" class="waves-effect waves-light btn" onclick="MyWindow=window.open('UploadChapter.jsp','MyWindow','width=600, height=600'); return false;">New Chapter</a>
                    <button class="btn btn-primary waves-effect waves-light blue" value="Start Reading">Start Reading</button>
                </div>
            </div>
            <div class="info_right">
                <div class="sub_container">
                    <p><label>Subscribed: </label></p>
                    <label name="">#</label>
                </div>
            </div>
        </div>
    
        <!--tag-->
        <div class="info_tags border_bottom">
            <div class="info_tag">Tags: </div>
            <c:set var="comicTags" value="${cs.tags}" />
            <c:choose>
                <c:when test="${not empty comicTags}">
                    <c:forEach var="eachTag" items="${comicTags}">
                        <ul class="chip">
                            <li><a href="/searching?keyword=${eachTag}">${eachTag}</a></li>
                        </ul>
                    </c:forEach>
                </c:when>
                <c:otherwise>
                    <li>
                        <span>No Tags.</span>
                    </li>
                </c:otherwise>
            </c:choose>
        </div>
    
        <hr />
        <div class="ws_text">
            <p>Description</p>
            <div class="ws_text_sub">
                ${cs.comicDescription}
            </div>
        </div>
        
        <!-- comic charpters -->
        <hr />
        <table class="highlight mycard collection" style="color:black">
            <thead>
                <tr>
                    <th data-field="Published">Published</th>
                    <th data-field="Chapter Number">Chapter Number</th>
                    <th data-field="Chapter Name">Chapter Name</th>
                    <th data-field="Upload Time">Upload Time</th>
                </tr>
            </thead>
            <tbody">
                <tr>
                    <td>?</td>
                    <td>91</td>
                    <td>Chapter Number</td>
                    <td>2016-05-09</td>
                </tr> 
                <tr>
                    <td>?</td>
                    <td>91</td>
                    <td>Chapter Number</td>
                    <td>2016-05-09</td>
                </tr>          	
                <tr>
                    <td>?</td>
                    <td>91</td>
                    <td>Chapter Number</td>
                    <td>2016-05-09</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>91</td>
                    <td>Chapter Number</td>
                    <td>2016-05-09</td>
                </tr>
            </tbody>
         </table>
        
        <div class="mycard comic_list">
            <ul class="comic_list_ul">
                <li>
                    <span class="published">Published     </span>
                    <span class="tx">Chapter Number</span>
                    <span class="subj"><span>Chapter Name</span></span>
                    <span class="date">Upload Time</span>
                </li>
            <c:if test="${not empty listofComicChapters}">
                <c:forEach  var="item" items="${listofComicChapters}">
                    <li>
                            <c:choose>
                                <c:when test="${item.isPublished=='true'}">
                                    <a>
                                        <span class="published"><input type="button" value="Published"/></span>
                                        <span class="tx">${item.chapterNum}</span>
                                        <span class="subj"><span>${item.chapterName}</span></span>
                                        <span class="date">${item.createdTime}</span>
    
                                    </a>
    
                                </c:when>
                                <c:otherwise>
                                    <a href='/workshop?chapterNumber=<c:out value="${item.chapterNum}"/>'>
                                        <span class="published"><input type="button" value="Not Published"/></span>
                                        <span class="tx">${item.chapterNum}</span>
                                        <span class="subj"><span>${item.chapterName}</span></span>
                                        <span class="date">${item.createdTime}</span>
                                    </a>
                                </c:otherwise>
                            </c:choose>
                    </li>
                </c:forEach>
            </c:if>
    
    
            </ul>
        </div>
    </div>

	<script type="text/javascript">
        function uploadPages(){
            var filesSelected = document.getElementById("nc").files;
            inputFile = filesSelected[0];
            console.log(inputFile);
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent) {
                var srcData = fileLoadedEvent.target.result;
                var newImage = document.createElement('img');
                newImage.style.visibility="hidden";
                newImage.src = srcData;
            }
            fileReader.readAsDataURL(inputFile);
        }
    </script>
    <form id="chapterForm" action="/workshopChapter" method="post">
        <input type="hidden" id="chapterName" name="chapterName">
        <input type="hidden" id="chapterNumber" name="chapterNumber">
        <input type="hidden" id="chapterImages" name="chapterImages">
        <input type="hidden" id="comicName" name="comicName">
    </form><br />
 	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
