/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: relative;
  right: 0;
  -webkit-transition: right .3s;
  transition: right .3s;
}
  body.open {
    right: 15%;
  }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */

html,body { height: 100%; }
body {
  color: #fff;
  margin: 0 auto;
  font: 1em/1.3em Times, serif;
	background-color: rgba(0,0,0,0.9);
}
.header {
  margin-bottom: 40px;
  position: relative;
}
.clearfix {
  clear: both;
}

.container {
  position: relative;
  padding-top: 50px;
  text-align: center;
  height: 100%;
  width:100%;
}
p { text-align: left; font-size: 16px; line-height: 40px; margin: 0 200px; padding-bottom: 50px; }

h1 {
  margin: 40px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #fff;  
  margin: 0 10px;
}


a.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;
}
a.menu-icon.open{
	right:15%;
}

ul.side-menu {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  background-color: #444;
  z-index: 100;

  -webkit-transition: right .3s;
  transition: right .3s;
}
  ul.side-menu.open {
    right: 0;
	padding-top: 50px;
  }
  ul.side-menu li:first-child {
    position: absolute;
    top: 300px;
  }
  ul.side-menu li {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 20px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #555;

    -webkit-transition: top .3s;
    transition: top .3s;
  }
  ul.side-menu li.row {
    border: 0;
    position: static;
    top: 0;
    height: 0;
    -webkit-transition: none;
    transition: none;
  }
    ul.side-menu li.metro {
      position: absolute;
      padding: 0;
      height: 125px;
      text-align: center;
      background-color: #CCC;
    }
      ul.side-menu li.metro.half { width: 50%; }
      ul.side-menu li.metro.full { width: 100%; }

    ul.side-menu h2.title {
      text-align: left;
      padding: 0 20px;
      position: relative;
      top: -60px;
      font-size: 23px;
      line-height: 60px;
      height: 60px;
      background-color: #555;

      -webkit-transition: top .3s;
      transition: top .3s;
    }
    ul.side-menu li a {
      display: block;
      font-size: 12px;
      padding: 0;
      margin: 0;
      height: inherit;
      line-height: inherit;
    }
      ul.side-menu li.metro a {
        margin: 42px 0;
        height: 40px;
        font-size: 40px;
      }

    /* Colors */
    ul.side-menu li.metro.blue { background-color: #5c84db; }
    ul.side-menu li.metro.light-blue { background-color: #2FC2EF; }
    ul.side-menu li.metro.purple { background-color: #a24fea; }

    ul.side-menu li.metro.red { background-color: #e54747; }
    ul.side-menu li.metro.pink { background-color: #ea4c89; }
    ul.side-menu li.metro.green { background-color: #85e500; }
    ul.side-menu li.metro.orange { background-color: #e28f00; }
    ul.side-menu li.metro.teal { background-color: #00e2e2; }
.commentbox {
}
.cm_cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #5F5F5F;
}
.reply_content{
	color: black;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 5px;	
	word-wrap:break-word;
	word-break: break-word;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap;
}
.cell[id^=r_]>table, .inner[id^=r_]>table {
    table-layout: fixed;
}
.cm_avatar {
	background-repeat:no-repeat;
	border-radius: 96px;
    width: 50px;
    height: 50px;
    position: relative;
	margin: auto;
}
.fr {
    float: right;
    text-align: right;
	background-color:white;
}
.mll {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 8em;
    overflow-y: auto;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    resize: vertical;
    box-sizing: border-box;
}
.sep10 {
    height: 10px;
}
.normal.button {
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.super.button {
    background-image: url("/static/img/bg_blended_light.png");
    padding: 4px 8px 4px 8px;
    border: 1px solid rgba(80,80,90, 0.2);
    border-bottom-color: rgba(80,80,90, 0.35);
    border-radius: 3px;
    font-size: 12px;
    /* line-height: 12px; */
    outline: none;
}
.content{
	padding-left:12%;
	padding-right:12%;
}

    
