@charset "UTF-8";
/* CSS Document */
html,body {/*<定义html和body高度都为100%，即显式定义html和body高度>*/
	height:100%; 
	margin:0;
	font-family: 'proxima_nova','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 19px;
	background-color:rgb(238,238,238);
} 
.copyright {
    position: relative;
    margin-top: 33px;
    padding-top: 16px;
    padding-bottom: 30px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 16px;
    color: #c5c5c5;
    text-align: center;
}
*{
	box-sizing: border-box;
	border:0;
}
a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	color: #88898c;
	cursor:pointer;
}
p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
hr{
	background-color: white;
    height: 1px;
}
a:hover{ 
	color:black;
}
.mycard{
	background-color:white;
	box-shadow: 1px 1px 2px #888888;
}
.mycard_space{
	height:20px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
	list-style:none;
}
.button{
	display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.26);
	font-weight: bold;
}
label{
	font-weight:normal;
	margin:0;
}
.scrollable_h{
	
}
.scrollable_v{
	
}.border_bottom{
	border-bottom:solid;
	border-bottom-color:#CCC;
	border-bottom-width:thin;
}

.line_Space{
	display:block;
	height:10px;
	width:100%;
}
.tags{
	list-style:none;
	display:inline-block;
}
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
}
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
} 
.tags a:hover{background:rgb(255,175,201);}	

.tags a:hover:before{border-color:transparent rgb(255,175,201) transparent transparent;}

/*some fonts */

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto:100);
}

/*sidebar CSS */
.sidebar{
	width:90px;
	height:100%;
	background-color:white;
	float:left;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	box-shadow:  2px 2px 5px #D6D6D6;
	text-align:center;
	margin:auto;
}
.sidebar .logo{
	background: url('../images/sp-logo-small.png');
	height: 95px;
	width:100%;
	display: block;
	margin:0;
	cursor: auto;
	background-repeat:no-repeat;
	background-size:90px 90px;
}
.sidebar ul{
	margin-top: 0;
	margin-bottom: 9.5px;
	display: block;
	list-style: none;
	padding-left: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.sidebar li{
	list-style: none;
}
.sidebar .text{
	text-align: center;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: small;
}
.sidebar a{
	text-decoration: none;
	position: relative;
	/*padding: 50px 10px 0 10px;*/
	height: 75px;
	width: 90px;
	display: block;
}
.sidebar a:horve{
	color:black;
}
.sidebar .item{
	padding: 50px 10px 0 10px;
	height: 75px;
	width: 90px;
	display: block;
}
.sidebar img{
	
}
.sidebar .user{
	height: 88px;
	width: 90px;
	display: block;
	position:absolute;
	bottom:10px;
}
.sidebar .avatar{
	background-repeat:no-repeat;
	border-radius: 96px;
    width: 60px;
    height: 60px;
    position: relative;
	margin: auto;
    margin-bottom: 5px;
}
.sidebar .avatar img{
	background: #fff;
    border-radius: 60px;
    display: block;
    width: 60px;
    height: 60px;
    z-index: 7;
}
.sidebar .username{
	text-align: center;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: small;
}
.searchbar{
	width:280px;
	height:100%;
	background-color:#F00;
	top:0;
	left:90px;
	position:absolute;
	background-color:#0F0;
	z-index:10;
	display:none;
}
.open{
	display:block;
}
.searchbar .searchframe{
	height:100%;
	width:100%;
	border:0;
	padding:0;
	margin:0;
}

/*main container CSS */
.mainContainer{
	right:0;
	height:100%;
	background-color:rgb(241,241,241);
	float:left;
	position:absolute;
	left:91px;
	top:0;
	bottom:0;
}
.mainframe{
	height:100%;
	margin:0;
	width:100%;
	border:0;
}
.mycontainer{
	padding:3%;
}
._nav{
	position:absolute;
	top:0;
	background-color: white;
	width:100%;
	height:50px;
	z-index:11;
	opacity:0.95;
}

/*search page CSS */
.searchpage{
	background-color:rgb(226,226,226);
	overflow-x:hidden; 
    overflow-y:hidden;  
}
.searchpage .searchbox{
	text-align:center;
	vertical-align:central;
	background-color:white;
	padding:20px;
	height:70px;
	margin:2px;
	display:block;
}
.searchpage .searchinput{
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 12px 4px;
    font-size: 14px;
    line-height: 19px;
    color: black;
    vertical-align: middle;
    background-color: white;
    background-image: none;
    border: 1px solid #dfe0e6;
    border-radius: 3px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.searchpage p{
	color:#000;
}
.searchpage .scrollable{
	position:absolute;
	width:295px;
	right:0;
	left:0;
	bottom:0;
	overflow:hidden;
}
.searchpage .result{
	height:90%;
	width:auto;
	padding:18px;
	display:block;
	overflow-y:scroll;
	position: relative;
	
}
.searchpage .result .resultul{
	list-style:none;
	margin-top:0;
	margin-bottom:0;
	padding-left:0;
	background-color:transparent;
}
.searchpage .result .resultli{
	background-color:white;
	color:#CCC;
	height:50px;
	margin-bottom:2px;
	position:relative;
}
.signinBox{
	width: 300px;
    height: 200px;
    position: relative;
    margin: auto;
    padding: 0;
}

/*explore page CSS */
#banner{
	
}
#aa{position:relative;width:100%;height:160px}
.bannerImg{
	width:100%;
	z-index:0;
}
.ex_container{
	position:relative;
	top:0px;
	width:85%;
	min-height:100%;
	z-index:5;
	display:block;
	margin:auto;
	background:#eeeeee;
	padding:0;
}
.exploreContent{
	position:relative;
	top:50px;
	background-color:rgb(238,238,238);
}
.exploreContent exploreSubDiv {
	
}

/*explore navbar CSS */
.ex_nav{
	position:absolute;
	top:-25px;
	background-color: white;
	width:100%;
	height:50px;
	z-index:11;
	opacity:0.95;
}
.navbg{
	height:40px;
	width:100%;
	background:white;
	box-shadow:1px 1px 7px #999;
	position: relative;
	z-index:6;
	left:0;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.col960{
	vertical-align:central;
}
#navul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
#navul li{
	float:left;
	height:40px;
	position:relative;
	text-align:center;
	line-height:40px;
	list-style-type:none;
	display:block;
	padding-left:45px;
	font-weight:bold;
}
#navul li.navmoon{
	height:38px;
	line-height:38px;
	font-weight:bold;
	padding-left:45px;
}
#navul a{
	padding:0;
}
#navul li.navCurrent{
	text-align:left;
	padding:0 0px 0 40px;
	width:60px;
	list-style-type:none;
}
#navul li a:link, #navul li a:visited{
	color:#B1B1B1;
}
#navul li ul{
	display:none;
	position:absolute;
	z-index:10000;
	top:40px;
	z-index:7;
	background:white;
	border-bottom:none;
	float:left;
	box-shadow: 3px 3px 10px #888888;
}
#navul li ul li{
	display:block;
	width:150px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	font-size:12px;
}
#navul li ul li a{
}

#navul li.navmoon a{
    position: relative;
    display: block;
    text-transform: uppercase;
    transition: color 0.2s;
	color:black;
	border-bottom-style:solid;
	border-bottom-width:medium;
	border-bottom-color:#000;
}
#navul li.navmoon ul{
	display:block;
}
#navul li.navmoon ul a{
	display:block;
	width:98px;
	height:20px;
	line-height:28px;
	color:#666;
}
#navul li.navmoon ul a:hover{
	color:black;
}

/*explore display section*/
.ex_feature_label{
	margin-top:25px;
	margin-bottom:25px;
	color: black;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 100;
    font-family: "Roboto",UILanguageFont,Arial,sans-serif;
    text-transform: none;
    min-height: 24px;
}
.scrollable{
	width:100%;
	height:312px;
	overflow-y:hidden;
	overflow-x:scroll;
}::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.scrollable .scrollable_inner{
	width:1760px;
	display:inline-block;
}
.scrollable .arrow{
	border-bottom-left-radius: 36px;
    border-top-left-radius: 36px;
    -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5);	
	outline: none;
	-webkit-transition: opacity 0.5s,visibility 0.5s;
    transition: opacity 0.5s,visibility 0.5s;
	cursor: pointer;
    height: 72px;
    position: absolute;
    display: block;
    visibility: inherit;
    width: 36px;
    z-index: 1;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    outline: none;
    opacity: 0.8;
}
.arrows {
    bottom: 0;
    display: block;
    margin: auto 0;
    position: absolute !important;
    top: 0;
}
.arrow_left{
	background-repeat: no-repeat;
    height: 20px;
    width: 12px;
	background-image:url(../images/download.png);
	background-color:#F00;
}
.arrow_right{
	background-position: 0 -26px;
	background-image:url(../images/download.png);
	background-repeat: no-repeat;
    height: 20px;
    width: 12px;
	right:0;
}
.displayItem{
	vertical-align:top;
	height: 304.5px;
    width: 207.5px;
	display:inline-block;
	margin-right:8px;
	white-space: normal;
}
.cover_img{
	text-align:center;
}
.displayItem a{
	text-decoration: none;
}
.displayItem img{
	height:100%;
	width:100%;
	min-height:200px; 
	min-width:200px;
}
.displayItem .detail{
	text-overflow: ellipsis;
	font-size: 13px;
    color: #fff;
    overflow: hidden;
    padding-top: 5px;
	padding-left:15px;
	padding-right:15px;
	display:block;
	
}
.displayItem .title{
	color: black;
    display: block;
    font-size: 16px;
    line-height: 18px;
    max-height: 36px;
    min-height: 18px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
	font-family: "Roboto",UILanguageFont,Arial,sans-serif;
}
.displayItem .author{
	color: #666;
}
.displayItem .description{
	color: #666;color: #666;
	font-size: 12px;
    margin-bottom: 8px;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
    position: relative;
    white-space: normal;
}

/*comment section */
.commentbox {
}
.cm_cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.reply_content{
	color: black;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 5px;	
	word-wrap:break-word;
	word-break: break-word;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap;
}
.cell[id^=r_]>table, .inner[id^=r_]>table {
    table-layout: fixed;
}
.cm_avatar {
	background-repeat:no-repeat;
	border-radius: 96px;
    width: 50px;
    height: 50px;
    position: relative;
	margin: auto;
}
.fr {
    float: right;
    text-align: right;
	background-color:white;
}
.mll {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 8em;
    overflow-y: auto;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    resize: vertical;
    box-sizing: border-box;
}
.sep10 {
    height: 10px;
}
.normal.button {
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.super.button {
    background-image: url("/static/img/bg_blended_light.png");
    padding: 4px 8px 4px 8px;
    border: 1px solid rgba(80,80,90, 0.2);
    border-bottom-color: rgba(80,80,90, 0.35);
    border-radius: 3px;
    font-size: 12px;
    /* line-height: 12px; */
    outline: none;
}

/*comic page*/
.comic_left{
	padding:3%;
	position: relative;
}
.comic_info{
	border-radius: 2px;
    display: inline-block;
    width: 100%;
	margin-bottom:20px;
}
.info_detail{
	min-width: 0;
	position: relative;
    width: 100%;
	display: table;
    text-align: left;
}
.info_cover{
	margin: 0;
	display: table-cell;
	float: left;
	overflow: hidden;
    white-space: nowrap;
	width: 200px;
    height: 300px;
	background-color:white;
}
.info_cover .cover_image {
    width: 200px;
}
.info_about{
	display: table-cell;
	vertical-align: top;
	height:100%;
	width:100%;
	font-family:"MS Serif", "New York", serif;
	color:black;
	
	word-wrap:break-word;
	word-break: break-word;
}
.info_about .author{
	text-transform: uppercase;
	padding-left:10px;
}
.info_about .name{    
	font-size: 40px;
    line-height: 40px;
    white-space: normal;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	padding-left:10px;
}
.info_about .about_bottom{
	border:0;
	position:absolute;
	bottom:0;
	padding:10px;
}
.info_right{
	display: table-cell;
	height:100%;
	vertical-align: bottom;
	text-align:right;
	text-transform:uppercase;
	color:#999;
	padding: 0 10px 10px 0;
}
.info_tags{
	padding:0px 0 10px 50px;
	height:46px;
}
.info_tags .info_tag{
	color:black;
	display:inline-block;
	line-height:46px;
}
.info_description{
    padding: 35px 50px 35px 50px;
    display: block;
    overflow: hidden;
	position: relative;
    text-align: left;
    width: 100%;
}
.info_description .text{
	color:black;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
	font-weight:100;
}
/*comic list */
.comic_list{
	float: left;
    position: relative;
	width:100%;
    min-height: 50px;
    padding: 0px 20px 15px;
	margin-bottom:20px;
}
.comic_list .comic_list_ul{
	list-style: none;
	padding-left:0;
}
.comic_list li{
    position: relative;
    border-bottom: 1px solid #CCC;
}
.comic_list li:first-child:hover {
    background:white;
}
.comic_list li:hover {
    background:#E2E2E2;
}
.comic_list li>a {
    display: block;
    height: 45px;
    white-space: nowrap;
    cursor: pointer;
}
.comic_list li>a:hover, a:active, a:focus {
    text-decoration: none;
}
.comic_list .date {
    font-size: 15px;
    letter-spacing: 1px;
	position:absolute;
	right:0;
	margin-right:10px;
}
.comic_list .tx {
    width: 59px;
    padding-top: 15px;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: right;
}
.comic_list_ul{
	list-style:none;
}
.comic_list_ul>li{
	color:black;
}
.comic_list_ul>li:hover{
}
.comic_list_ul span {
    display: inline-block;
    padding-top: 15px;
    vertical-align: top;
}
.comic_list .subj {
    margin-left: 12px;
    padding-top: 15px;
    font-size: 17px;
}
.comic_list .subj span {
    overflow: hidden;
    width: auto;
    max-width: 370px;
	margin-left:30px;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comic_list .list_table{
	table-layout: fixed;
    width: 100%;
	border-spacing: 0;
}
.comic_right{
	padding:3%;
    vertical-align: top;
	position: relative;
}

/*profile page start*/
.profile_container{
	width:80%;
	padding-left:50px;
	padding-right:50px;
	margin:auto;
}
.h-container {
    background-repeat: no-repeat;
    background-position: 360px 0;
    color: #222;
    transition: background .2s ease;
    height: 240px;
    overflow: hidden;
}
.h-main {
    display: table;
    width: 360px;
    height: 240px;
    position: relative;
}
.h-user-info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
    position: relative;
    z-index: 3;
}
.h-avatar-container {
    display: table-cell;
    vertical-align: middle;
}
.h-avatar {
    width: 72px;
    height: 72px;
    position: relative;
}
#h-g {
    position: absolute;
    width: 126px;
    height: 126px;
    top: -27px;
    left: -9999px;
    pointer-events: none;
}
#h-avatar {
    background: #fff;
    border-radius: 72px;
    display: block;
    width: 72px;
    height: 72px;
    z-index: 7;
}
#h-change-avatar {
    background: #333;
    background: rgba(0,0,0,0.75);
    border-radius: 72px;
    color: #fff;
    line-height: 72px;
    width: 72px;
    transition: opacity .2s ease;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.h-meta {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}
.h-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.h-sign.empty-hint {
    color: #ccc;
    color: rgba(0,0,0,0.5);
}
.h-edit-sign {
    display: none;
    visibility: hidden; 
    text-align: right;
}
.h-bg-container {
    overflow: hidden;
}
.h-bg-blur {
    background: rgba(255,255,255,0.4);
    z-index: 1;
}
.h-bg {
    background-image: url('http://i0.hdslb.com/group1/M00/F8/68/oYYBAFalm-6AZmmHAADdpXJ53tg582.jpg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background .2s ease;
    overflow: hidden;
    z-index: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    width: 400px;
    height: 280px;
    top: -20px;
    left: -20px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/*subscribe page start*/
.sb_main_container{
}
.sb_subdiv{
	padding:50px 100px 0px 100px;
}
.sb_feature_label{
	margin-top:25px;
	color: black;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 100;
    font-family: "Roboto",UILanguageFont,Arial,sans-serif;
    text-transform: none;
    min-height: 24px;
	display:inline;
	line-height: 32px;
}
.sb_feature_left{
	display:inline-block;
}
.sb_feature_right{
	display:inline-block;
}
.sb_feature_button{
	display:inline;
	width:500px;
	
}
#sb_comics .mix{
	display: none;
}
#sb_authors .mix{
	display: block;
}
#sb_container .mix{
	display: none;
}
.addheight{
	height:220px;	
}
.sb_itembg{
	width:100%;
	height:180px;
	background-position: top;
	background-size:contain;
	background-repeat:no-repeat;	
}
.sb_itemName{
	text-align:center;
	vertical-align:top;
	margin:auto;
}
.container{
	padding: 2% 2% 0;
    padding-bottom: 5px;
	text-align: justify;
	font-size: 14px;
	background:rgb(238,238,238);
}
.container:after{
	content: '';
	display: inline-block;
	width: 100%;
}
.sb_item{
	cursor:pointer;
}
.container .sb_item, .container .gap{
	display: inline-block;
	width: 49%;
}
.container .sb_item{
	text-align: left;
	background:white;
	margin-bottom: 2%;
	vertical-align: top;
	display: none;
}
/* Flex box progressive enhancements: */
.container{
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	webkit-align-content: flex-start;
}
@media all and (min-width: 420px){
.container .sb_item, .container .gap{
	width: 16%;
	}
}

/*workshop page start*/
.ws_left{
	width:30%;
	display:inline-block;
	padding-left:50px;
	min-width:300px;
	padding-top: 50px;
}
.ws_right{
	float:right;
	width:69%;
	height:100%;
	display:inline-block;
	min-width:700px;
}
.workshopFrame{
	height:100%;
	width:100%;
	background:rgb(238,238,238);
}

/*series list start*/
.series_list{
	float: left;
    position: relative;
	width:100%;
    min-height: 50px;
}
.series_list ul{
	list-style: none;
	padding-left:0;
	margin:0;
}
.series_list ul li{
	height:75px;
    position: relative;
	border-bottom: 1px solid #CCC;
}
.series_list li:first-child {
    
}
.series_list li:hover {
    background:#E2E2E2;
}
.series_list li>a {
    display: block;
    height: 100%;
    white-space: nowrap;
    cursor: pointer;
}
.series_list li>a:hover, a:active, a:focus {
    text-decoration: none;
}
.series_list .series_item{
	height:100%;
}
.series_list .item_cover {
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:center;
	width:75px;
	height:75px;
	display:inline-block;
}
.series_list .item_text{
	display:inline-block;
	line-height:75px;
	overflow:hidden;
    font-size: 16px;
    font-family: initial;
    padding: 0 10px 0 10px;
	position: absolute;
    top: 50%;
    height: 75px;
    margin-top: -36px;
}
.item_text input[type=text]{
	line-height: 20px;
	margin-top: 24px;
    width: 100%
}
.series_list_ul{
	list-style:none;
}
.series_list_ul span {
    display: inline-block;
    padding-top: 15px;
    vertical-align: top;
}
.series_list .subj {
    width: 424px;
    margin-left: 12px;
    padding-top: 15px;
    font-size: 17px;
}
.series_list .subj span {
    overflow: hidden;
    width: auto;
    max-width: 370px;
    padding: 0;
    color: #3d3d3d;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.series_list .list_table{
	table-layout: fixed;
    width: 100%;
	border-spacing: 0;
}

/*seriers detail page*/
.seriers_detail{
	width:90%;
	margin:auto;
	padding-top:45px;
}
.ws_text{
	color:black;
	padding:0 10px 0 10px;
}
.ws_text_sub{
	margin-top:10px;
	display:block;
}
.rating_container{
    color: #616161;
	display: inline-block;
}
.tiny-star{
    display: inline-block;
    position: relative;
}
.tiny-star.star-rating-non-editable-container {
	background: url('../images/rating.png');
    -webkit-background-size: contain;
    background-size: contain;
	height: 14px;
    width: 69px;
	left: -1px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
}
.current-rating {
	background: url('../images/current_rating.png');
	display: block;
    position: absolute;
}
.tiny-star .current-rating {
    -webkit-background-size: contain;
    background-size: contain;
	height: 14px;
}
.ratings-detail {
    color: #737373;
    font-weight: 300;
    margin-right: 0;
}
.ratings-detail .reviewers-img {
	background:url('../images/rating-user.png');
    vertical-align: top;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 1px;
    width: 16px;
}

/*comic setting page*/
.cs_container{
	width:90%;
	height:100%;
	padding:50px 50px 50px 50px;
	top:20px;
	bottom:20px;
	margin:auto;
	position:relative;
	color:black;
	font-size:14px;
}
.t_a{
	font-size: 14px;
    border: 1px solid #e5e9ef;
    overflow: auto;
    color: #555;
    width: 100%!important;
    height: 180px;
    transition: 0s;
}



/*reading mode nav css*/
#rm_nav{
	position:absolute;
	top:0;
	background-color: white;
	width:100%;
	height:50px;
	z-index:11;
	opacity:0.95;
}
#zlight-nav,
#zlight-main-nav,
#zlight-mobile-nav,
#zlight-main-nav > li,
#zlight-main-nav > li > a{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/*************
* WRAP
*************/
#zlight-nav{
	display: block;
	position: relative;
	width: 100%;
	z-index: 9999;
}
/*************
* MAIN NAV
*************/
#zlight-main-nav{
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;

	border-right-width: 1px;
	border-right-style: solid;

}
/*************
* CLEAR
*************/
#zlight-main-nav:before,
#zlight-main-nav:after,
#zlight-nav:before,
#zlight-nav:after {
  display: table;
  content: " ";
}

#zlight-main-nav:after,
#zlight-nav:after {
  clear: both;
}
/*************
* LI & A
*************/
#zlight-main-nav > li{
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	display: block;
	-webkit-transition: background  ease 0.3s;
	-moz-transition: background  ease 0.3s;
	transition: background  ease 0.3s;
}
#zlight-main-nav > li > a{
	display: block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
	padding: 0 22px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
}
#zlight-main-nav > li:first-child > a{
	border-left: none;
}

/*************
* DROPDOWN
*************/
.zlight-dropdown:hover > .zlight-submenu{
	display: block;
}
/*************
* SUBMENU
*************/
.zlight-submenu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.3);
	position: absolute;
	top: 100%;
	left: 0;
}
.zlight-submenu > li{
	float: none;
	position: relative;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.zlight-submenu > li > a{
	display: block;
	float: none;
	text-decoration: none;
	outline: none;

	text-transform: uppercase;
	padding: 10px 22px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.zlight-submenu > li:first-child > a{
	border-top: none;
}
.zlight-submenu > li:last-child > a{
	border-bottom: none;
}
.zlight-submenu .zlight-submenu{
	top: 0;
	left: 100%;
}
/*************
* ICON
*************/
#zlight-main-nav i{
	padding: 0 5px;
}
/****************************
* MOBILE NAV
****************************/
#zlight-mobile-nav{
	display: none;
}
#zlight-mobile-nav > span{
	text-transform: uppercase;
	padding: 0 10px 0 20px;
	float: left;
}
#zlight-mobile-nav > .zlight-icon{
	float: right;
	padding: 0 20px 0 10px;
}
#zlight-mobile-nav > select{
	background: none;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity:1;
	cursor: pointer;
}
#zlight-mobile-nav:before,
#zlight-mobile-nav:after {
  display: table;
  content: " ";
}
#zlight-mobile-nav:after {
  clear: both;
}

/***************************
* MEDIA QUERIES
***************************/

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#zlight-mobile-nav{
		display: block;
	}
}
@media (min-width: 769px) {
	#zlight-main-nav{
		display: block;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

.bgtest｛
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+1,207ce5+100&1+37,0+100 */
	background: -moz-linear-gradient(top,  rgba(73,155,234,1) 1%, rgba(58,144,232,1) 37%, rgba(32,124,229,0) 100%); /* FF3.6-15 */	
	background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 1%,rgba(58,144,232,1) 37%,rgba(32,124,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,155,234,1) 1%,rgba(58,144,232,1) 37%,rgba(32,124,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#00207ce5',GradientType=0 ); /* IE6-9 */
｝












